@use "vars";

.page-header {
  margin: 0 0 30px 0;

  @media screen and (min-width: 800px) {
    margin-bottom: 40px;
  }

  &__subtitle {
    font-family: vars.$font--title;
    font-size: 25px;
    margin: 6px 0 0 0;
    color: vars.$color-text__highlighted__light;
    text-transform: uppercase;
    letter-spacing: -6px;

    @media screen and (min-width: 800px) {
      font-size: 32px;
      letter-spacing: -5px;
    }
  }
}

.page-title {
  font-size: 35px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -6px;

  @media screen and (min-width: 800px) {
    font-size: 70px;
    letter-spacing: -13px;
  }
}

.page-navigation {
  font-weight: bold;
  font-family: vars.$font--meta;
  margin: 0 0 15px 0;
  color: #fff;

  a {
    font-weight: 500;
    color: #fff;
    opacity: .65;

    &:hover {
      opacity: .8;
    }

    &.page-navigation-main {
      font-weight: bold;
    }
  }

  svg {
    position: relative;
    top: 3px;
    margin: 0 3px 0 0;
  }
}

.page-navigation-part + .page-navigation-part:before {
  content: ' / ';
  font-weight: bold;
}

.hero-image-container {
  margin: 0px;
  position: relative;
  margin: -30px -30px 0px -30px;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 35%;
  }

  @media screen and (min-width: 800px) {
    margin: -40px -40px 0px -40px;
  }
}

.hero-image {
  width: 100%;
}

.page-title {
}
