@use "vars";

.history-image {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;

  a {
    color: #5CA685;
  }

  a:hover {
    text-decoration: none;

    img {
      opacity: .8;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  figure {
    text-align: center;
    background: #333;
    padding: 0;
  }

  figcaption {
    padding: 20px 30px 30px 30px;
    font-family: vars.$font--meta;
    line-height: 1.4;
    font-size: 16px;
    color: #5CA685;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }
}
