@use "vars";

.main-navigation {
  margin: 0;
  padding: 0;

  a {
    line-height: 1.1;
    display: inline-block;
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 500;
    font-family: vars.$font--meta;
    color: vars.$color-text__highlighted__light;

    @media screen and (min-width: 800px) { 
      font-size: 40px;
      margin: 0 0 20px 0;
    }

    &:hover {
      color: vars.$color-text__highlighted__extralight;
    }

    svg {
      position: relative;
      top: 3px;
    }
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &:before {
    margin: 0 0 40px 0;
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: white;
  }
}
