.article-page {
  background: #fff;

  .page-header,
  .page-title {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #5CA685;
    text-align: center;

    a {
      color: #5CA685;
      opacity: 1;
    }
  }

  .page-navigation {
    margin-bottom: 40px;
  }
  .page-header {
    margin-bottom: 15px;
  }
}
.article {
  line-height: 1.5;

  .lead {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    font-size: 27px;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  .rich-text {
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }
  }

  .history-image {
    margin: 60px auto;
    max-width: 700px;

    img {
      display: block;
    }

    figcaption {
      max-width: 600px;
      margin: 10px auto 0 auto;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #5CA685;
      text-align: center;
    }
  }
}

