.article-page {
  background: #fff;
  border-top: 5px solid #5CA685;

  .page-header,
  .page-title {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #5CA685;

    a {
      color: #5CA685;
      opacity: 1;
    }
  
    @media screen and (min-width: 800px) {
      text-align: center;
    }
  }

  .page-navigation {
    color: #5CA685;
    margin-bottom: 15px;

    @media screen and (min-width: 800px) {
      margin-bottom: 40px;
    }
  }

  .page-header {
    margin-bottom: 15px;

    @media screen and (min-width: 800px) {
      margin-bottom: 40px;
    }
  }

  .lead {
    max-width: 900px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: 0 auto 20px auto;

    @media screen and (min-width: 800px) {
      font-size: 27px;
      margin-top: -25px;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .article .rich-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    p, h2, h3, h4, ul, ol {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }

    blockquote {
      margin: 40px 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
    }
  }

  .history-image {
    margin: -20px -30px 0 -30px;

    figcaption {
      max-width: 600px;
      margin: 10px auto 0 auto;
      text-align: left;
    }

    @media screen and (min-width: 800px) {
      margin: 10px auto;

      figcaption {
        text-align: center;
      }
    }
  }

  .main-navigation {
    border-top: 5px solid #5CA685;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

    a {
      color: #5CA685 !important;
      font-size: 20px;
      opacity: 1;

      @media screen and (min-width: 800px) { 
        font-size: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
