.article {
  line-height: 1.5;

  .lead {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    font-size: 27px;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  .history-image {
    margin: 10px auto;
    max-width: 900px;

    img {
      display: block;
    }

    figcaption {
      max-width: 600px;
      margin: 10px auto 0 auto;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #5CA685;
      text-align: center;
    }
  }
}

