.history-image {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;

  a {
    color: #5CA685;
  }

  a:hover {
    text-decoration: none;

    img {
      opacity: .8;
    }
  }

  &-wrapper {
    position: relative;
    background-size: cover;
    &::before {
      display: block;
      content: "";
      width: 100%;
    }
  }

  img {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  figcaption {
    padding: 20px 30px 30px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #5CA685;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }
}
