body {
  margin: 0;
  padding: 0;
  background: #5CA685;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.main {
  padding: 40px;
}

h1, h2, h3 {
  font-weight: 500;
  font-family: 'Lexend Zetta', sans-serif;
  margin: 0;
  letter-spacing: -6px;
}

a {
  text-decoration: none;
  color: #4280B8;
}

p {
  margin: 0 0 20px 0;
}

h1 {
  font-size: 70px;
  margin: 0 0 20px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -13px;
}

.hero-image-container {
  margin: 0px;
  position: relative;
  margin: -40% -40px 40px -40px;
}

.hero-image {
  width: 100%;
}

.hero-title {
  font-size: 70px;
  margin: 20px 20px 20px 27px;
  color: #fff;
  text-transform: uppercase;
}

.main-navigation {
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    opacity: .65;

    &:hover {
      opacity: .8;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.footer {
  margin-top: 40px;
  padding: 20px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, .25);
  color: #fff;
  opacity: .65;

  a {
    color: #fff;
    opacity: .65;
  }
}
