body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.main {
  padding: 40px;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0 0 20px 0;
}

h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}

nav {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 5px 0;
}
